<p class="feed_url">
  Everything below look ok?  Here's the <%= link_to("full feed", @feed_path) %>. 
</p>

<h3 class="entry_title"><%= preview.title %></h3>
<div class="entry_results"><%= preview.summary %></div>
