<%= render :partial => "input" %>
<div id="full_feed_preview">
  <p class="feed_url">
    Everything below look ok?  Here's the <%= link_to("full feed", load_feeds_url({:format => :rss}.merge(params[:full_feed]))) %>. 
  </p>
  <% @entries.each do |entry| %>
    <h3 class="entry_title"><%= entry.title %></h3>
    <div class="entry_results"><%= entry.summary %></div>
  <% end %>
</div>