body {
  padding:0;
  margin:0;
  font:62.5% Helvetica, Arial, sans-serif;
  background-color:#F6F6F6;
}

div.feed_input { 
  text-align:center;
  background-color:#FFF;
  padding:10px 0;
  border:1px solid #CCC;
}
div.feed_input > h1 { 
  font-family:Arial;
  font-size:3em;
  padding-bottom:0;
  margin-bottom:0;
}
div.feed_input form {
  padding-top:10px;
  padding: 0;
  width:80%;
  text-align:center;
  margin-right:auto;
  margin-left:auto;
}

div.feed_input form label {
  font-weight:bold;
  font-size:2.0em;
  width:22%;
  text-align:right;
  display: block;  /* block float the labels to left column, set a width */
	float: left; 
  padding:10px 5px;
}

div.feed_input form button {
	padding:10px;
	background-color:#EEE;
	border:1px solid #CCC;
	font-size:1.5em;
	width:150px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

div.feed_input form button:hover {
	background-color:#DDD;
}

div.feed_input form span.example {
  font-style:italic;
  color:#AAA;
  text-align:left;
  padding:10px 5px;
  display:block;
  width:20%;
  float:left;  
}

div.feed_input form p.btn {
  text-align:center;
  padding-top:20px;
}

div.about p {
	text-align:left;
	width:40%;
	margin:10px auto;
	color:#AAA;
}
div.about p a {
	color:#AAA;
}
div.feed_input form p {
  clear:both;
}

div.feed_input form input.text, div.feed_input form textarea {
  font-size:2.0em;
  width:50%;      /* set width of form elements to auto-size, otherwise watch for wrap on resize */
  margin:5px 0 0 10px; /* set margin on left of form elements rather than right of
                                label aligns textarea better in IE */
  float:left;
  padding:3px;
}

div.fieldWithErrors input {
	border: 1px solid red;
}
div.error {
	color: red;
}

div.feed_input form textarea {
  height:150px;
}
div#full_feed_preview p.feed_url {
	text-align:center;
	padding:5px;
	font-size:1.5em;
}


div#full_feed_preview > h3.entry_title {
	font-weight:bold;
	background-color:#CCC;
	font-size:1.5em;
	padding:10px;
}
div#full_feed_preview > div.entry_results {
	margin-left:40px;
}

